.order-checkout-container{
 background-color: #E8F8F7;   
 margin-top: auto;
 text-align: end;
 padding: 1em;
 
 >p{
     margin:0px;
     font-size: 13px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 >p:nth-child(2){
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
 }
 .total{
     font-size:15px;
     font-weight: bolder;
 }
 .green{
     color:#1CAA9E;
 }
 >button{
    border: 1px solid #E8F8F7;
    background-color: #208178;
    width: 100%;
    color:#AFD2CF; 
    padding: 1em;
    border-radius: 0.5em;
    font-size: 15px;
    margin-top:0.5em;
 }
}